
<div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  
                  <h4 class="card-title">{{#if item}}Chỉnh sửa Công ty{{else}}Tạo Công Ty{{/if}}</h4>

                  <p class="card-description">
                    Điền thông tin công ty
                  </p>
                  {{#if item }}
                  <form class="forms-sample" action = "/admin/companies/save-update/{{item.id}}" method="post">
                  {{else}}
                  <form class="forms-sample" action = "/admin/companies/save" method="post">
                  {{/if}}
                    <div class="form-group row">
                      <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="exampleInputUsername2" name="name" value="{{#if item }}{{ item.name }}{{/if}}" placeholder="Username">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Address</label>
                      <div class="col-sm-9">
                        <input name="address" type="text" value="{{#if item }}{{ item.address }}{{/if}}" class="form-control" id="exampleInputEmail2" placeholder="Address">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputMobile" class="col-sm-3 col-form-label">Phone Number</label>
                      <div class="col-sm-9">
                        <input name="phone_number" type="text" value="{{#if item }}{{ item.phone_number }}{{/if}}" class="form-control" id="exampleInputMobile" placeholder="Mobile number">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Email</label>
                      <div class="col-sm-9">
                        <input name="email" type="text" placeholder="" value="{{#if item }}{{ item.email }}{{/if}}" class="form-control" id="exampleInputPassword2" placeholder="Email">
                      </div>
                    </div>
                    <form action="/profile" method="post" enctype="multipart/form-data">
                      <form enctype="multipart/form-data">
                        <label for="">Upload file</label>
                        <input type="file" name="avatar" />
                      </form>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                  </form>
                  
                </div>
                
              </div>
              <div class="index">
                <a href="/admin/companies/" class="btn btn-primary mt-2 mt-xl-0">Home</a>
              </div>
            </div>